body * {
    margin: 0;
    border: 0;
    padding: 0; 
}
body{
	Font-family: 'Roboto', sans-serif;
}

.navbar-brand img{
	width: 82px;
}

.card{
	margin: 0 auto;
}

.text-secondary{
	font-weight: 80;
	color: #28A745;
	margin: 0;
}


.text-success{
	font-size: 20px;
	font-weight: 62px;
}

.precios{
	text-align: right;
}

form{
	margin: 0 auto;
}

hr {
	margin-top: 0;
	margin-bottom: 0;
}

footer{
	text-align: center;
}

footer img{
	width: 82px;
	padding-top: 30px;
}

footer p{
	color:#28A745;
	font-weight:100;
}

@media (max-width: 992px) {
}
